VITE_PUBLIC_COURSE_YUGA_USER_API="http://localhost:8080/api/v1/user"
VITE_PUBLIC_COURSE_YUGA_COURSE_API="http://localhost:8080/api/v1/course"
VITE_PUBLIC_COURSE_YUGA_VIDEO_API="http://localhost:8080/api/v1/video"
VITE_PUBLIC_FRONTEND_DOMAIN="http://localhost:5173"
VITE_RAZORPAY_KEY_ID="YOUR_RAZORPAY_KEY_ID"