.menu-btn {
  position: absolute;
  z-index: 1;
  right: 0rem;
  top: 1rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &__burger {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    width: 25px;
    height: 2px;
    background-color: #fff; // Changed to white for light theme
    transition: all 0.5s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 0px;
      width: 25px;
      height: 2px;
      background-color: #fff; // Changed to white
      transition: all 0.5s ease-in-out;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 0px;
      width: 20px;
      height: 2px;
      background-color: #fff; // Changed to white
      transition: all 0.5s ease-in-out;
    }

    &.open {
      transform: rotate(180deg);
      background: transparent;
      transition: all 0.5s ease-in-out;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        width: 25px;
      }

      &::after {
        width: 25px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }

  // Light theme styles
  &.light {
    background-color: #f7f7f7; // Off-white background for light theme

    &__burger {
      background-color: #333; // Dark gray for burger lines

      &::before,
      &::after {
        background-color: #333; // Dark gray for before and after
      }
    }
  }

  // Dark theme styles
  &.dark {
    background-color: #222; // Dark background for dark theme

    &__burger {
      background-color: #fff; // White for burger lines in dark theme

      &::before,
      &::after {
        background-color: #fff; // White for before and after in dark theme
      }
    }
  }
}
